<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp"> <!--initalise this html with PopQuiz app -->

<head>
    <meta charset="UTF-8">
    <title>Pop Quiz App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak> <!--use this when you need to hide {{}} from displaying when refreshing the page -->
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="PopQuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page"> <!-->/Defining PopQuizCtrl as directive -->
        <h1> POP QUIZ </h1>
        <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate> <!-- Titled the form clas and registerting ng-submit as the submit controller -->
            <div class="form-group">
                <label for="quiz">{{ctrl.quiz.question}}</label> <!-- Displaying the Quiz Question on browser-->
            </div>
            <div class="form-group"> 
                <label for="answer">Answers : </label> <!-- Displaying the Quiz answers on browser with ng-model to capture the input answer-->
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer1.value}}" /> {{ctrl.quiz.answer1.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer2.value}}" /> {{ctrl.quiz.answer2.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer3.value}}" /> {{ctrl.quiz.answer3.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer4.value}}" /> {{ctrl.quiz.answer4.name}}
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer5.value}}" /> {{ctrl.quiz.answer5.name}}
                <br/>
            </div>
            <div class="form-group"> <!-- Displaying the comment box and capture the inputs entered-->
                <label for="Comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            <div class="form-group"> <!--Displaying the Submit button -->
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ ctrl.finalanswer.message}}
            </div>
        </form>
    </div>
    <!-- Listing out all the libraries/scripts used for this html-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>